@model ForumReplyModel
@{
    ViewData["Title"] = "ForumPost";
}

<p>
    <div class="card border bg-light row" style="text-align:center">
        Posted by: @ViewBag.Post.Username

        <h1><p>@ViewBag.Post.Title</p></h1><br />
        <p>@ViewBag.Post.Message</p>
        <p>Posted At: @ViewBag.Post.Date</p>
        <a asp-controller="Forum" asp-action="WriteReply" asp-route-id="Forum" asp-route-postId=@ViewBag.Post.PostId><p style="color:slategrey">Reply</p></a>



    </div>

    <h2>Replies</h2><hr />
    @foreach (ForumReplyModel reply in (List<ForumReplyModel>)ViewBag.replies)
    {
    <p>
        <div class="card border bg-light row">
          <!---  @reply.ReplyId|@reply.PostId -->
            
            <b>@reply.Username: </b>
            @reply.Message
            <p>Posted At: @reply.Date</p>
            <form asp-controller="Forum" asp-action="DeleteReply" asp-route-id="ForumDelete" asp-route-replyId=@reply.ReplyId method="post">
                <button type="submit" class="btn btn-primary btn-sm">Remove</button>
            </form>
        </div>
    </p>
    }